<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='content-language' content='{$ $t.language $}'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{$ $t.header.title $} {% block title %}{% endblock %} </title>
        <meta property="og:title" content="{$ $t.header.title $}"/>
        <meta name="keywords" content="{$ $t.s404.keywords $}"/>
        <meta name="description" content="{$ $t.s404.desc $}"/> 
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{$ $static('../assets/logos/icon.png', path) $}"/> 
    
         <!-- Favicon -->
        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="{$ $static('../assets/css/bootstrap.css', path) $}" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="{$ $static('../assets/css/style.css', path) $}" />

        <!-- jQuery Min JS -->
        <script src="{$ $static('../assets/js/jquery.min.js', path) $}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{$ $static('../assets/js/bootstrap.js', path) $}"></script>
        <!-- common JS -->
        <script src="{$ $static('../assets/js/common.js', path) $}"></script>
        {# plugin name="share" %} {% endplugin #} 


        {% block head %}{% endblock %}
        <script>
            jQuery(($)=>{
                 $(".preloader").addClass("preloader-deactivate");
            })
        </script>
    </head>
    <body>
        {% include "./header.njk" %}

        <!-- body -->
        <div class="mainbody">        
            {% block body %}{% endblock %}
        </div>

        {% include "./footer.njk" %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2208954604036695"
     crossorigin="anonymous"></script>
    </body>
</html>