<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='content-language' content='{$ $t.language $}'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{$ $t.header.title $}
            {% block title %}{% endblock %}
        </title>
        <meta property="og:title" content="{$ $t.header.title $}"/>
        <meta name="keywords" content="{$ $t.s404.keywords $}"/>
        <meta
        name="description" content="{$ $t.s404.desc $}"/> <!-- Favicon -->
        <link
        rel="icon" type="image/png" href="{$ $static('../assets/logos/icon.png', path) $}"/>
        <script src="{$ $static('../assets/js/ivideos.js?5', path) $}"></script>
        <!-- jQuery Min JS -->
        <script src="{$ $static('../assets/js/jquery.min.js', path) $}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{$ $static('../assets/js/bootstrap.js', path) $}"></script>
        {# plugin name="share" %} {% endplugin #}
        <!-- Favicon -->
        <!-- Bootstrap Min CSS --> <link rel="stylesheet" href="{$ $static('../assets/css/bootstrap.css', path) $}"/>
        <link rel="stylesheet" href="{$ $static('../assets/css/plyr.css', path) $}"/>
        <style>
            body {
                background-color: #000;
                overflow-x: hidden;
            }
            .wrap {
                min-height: 300px;
                height: 600px;
                margin: 0;
            }
            .wrap .v-wrap {
                padding: 0;
            }
            .mds {
                list-style: none;
                width: 96% !important;
                overflow-x: hidden;
            }
            .mds .item {
                overflow: hidden;
                margin-bottom: 8px;
                padding: 0 4px;
            }
            .mds .item img {
                width: 100%;
                max-width: 100%;
                padding: 0;
                margin: 0;
            }
            .video {
                min-height: 300px;
                margin: 0 auto;
                padding: 0;
                width: 100%;
            }
            .d-table {
                width: 100%;
            }
            .container {
                padding: 0;
                width: 100%;
            }
            .plyr__video-wrapper {
                position: relative;
            }
        </style>
    </head>
    <body>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="row wrap">
                    <div class="v-wrap" style="padding-right: 0;">
                        <video id="player" class="video" controls="controls" crossorigin="crossorigin" playsinline="playsinline"></video>
                    </div>
                    <div <div style="padding: 10px; background-color:#fff;">
                        
                        <iframe 
                            src="https://w.iee.one/mds.html?type=all" 
                            style="min-height: 600px"
                            width="100%"
                            height="100%"
                            frameborder="no"
                            border="0"
                            marginwidth="0"
                            marginheight="0"
                            scrolling="no"
                            allowtransparency="yes"
                            
                            ></iframe>
                        {# for item in mdsList %}
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-6 item" >
                            <a href="{$ $static(item.url, path) $}" target="_top">
                                <img src="{$ $static(item.img, path) $}"/>
                            </a>
                        </div>
                        {% endfor #}
                            <!--div>
                                <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                                    <img src="{$ $static('../assets/img/blog-details/2.jpg', path) $}"/>
                                </a>
                            </div>
                            <div>
                                <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                                    <img src="{$ $static('../assets/img/blog-details/3.jpg', path) $}"/>
                                </a>
                            </div>
                            <div>
                                <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                                    <img src="{$ $static('../assets/img/blog/blog-6.jpg', path) $}"/>
                                </a>
                            </div-->
                    </div>
                </div>
            </div>
        </div>
        <script src="{$ $static('../assets/js/plyr.js', path) $}"></script>
        <script src="{$ $static('../assets/js/hls.js', path) $}"></script>
        <script src="{$ $static('../assets/js/iplayer.js?4', path) $}"></script>
    </body>
</html>