<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='content-language' content='{$ $t.language $}'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>{$ $t.header.title $}
            {% block title %}{% endblock %}
        </title>
        <meta property="og:title" content="{$ $t.header.title $}"/>
        <meta name="keywords" content="{$ $t.s404.keywords $}"/>
        <meta
        name="description" content="{$ $t.s404.desc $}"/> <!-- Favicon -->
        <link
        rel="icon" type="image/png" href="{$ $static('../assets/logos/icon.png', path) $}"/>
        <!-- jQuery Min JS -->
        <script src="{$ $static('../assets/js/jquery.min.js', path) $}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{$ $static('../assets/js/bootstrap.js', path) $}"></script>
        {# plugin name="share" %} {% endplugin #}
        <!-- Favicon -->
        <!-- Bootstrap Min CSS --> 
        <link rel="stylesheet" href="{$ $static('../assets/css/bootstrap.css', path) $}"/>
        <link rel="stylesheet" href="{$ $static('../assets/css/plyr.css', path) $}"/>
        <style>
            .mds {
                padding: 0;
                list-style: none;
                background-color: #000;
            }
            .mds li {
                height: 150px;
                max-height: 150px;
                overflow: hidden;
                padding: 0px 2px 0px 2px;
                margin-bottom: 5px;
            }
            .mds li img {
                width: 100%;
            }
            .video {
                min-height: 600px;
                height: 600px;
                margin: 0 auto;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12" style="padding-right: 0;">
                <video
                    id="player"
                    class="video"
                    controls="controls"
                    crossorigin="crossorigin"
                    playsinline="playsinline"
                    poster="{$ $static('../assets/img//video-bg.png', path) $}"></video>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hedden-sx" style="padding-left: 0;">
                <ul class="mds">
                    <li>
                        <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                            <img src="{$ $static('../assets/img/blog-details/1.jpg', path) $}"/>
                        </a>
                    </li>
                    <li>
                        <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                            <img src="{$ $static('../assets/img/blog-details/2.jpg', path) $}"/>
                        </a>
                    </li>
                    <li>
                        <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                            <img src="{$ $static('../assets/img/blog-details/3.jpg', path) $}"/>
                        </a>
                    </li>
                    <li>
                        <a href="{$ $static('./docs/abx.html', path) $}" target="_top">
                            <img src="{$ $static('../assets/img/blog/blog-6.jpg', path) $}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script src="{$ $static('../assets/js/plyr.js', path) $}"></script>
        <script src="{$ $static('../assets/js/hls.js', path) $}"></script>
        <script>
            function getQuery() {
                let search = location
                    .search
                    .replace(/^\?/, "")
                    .split("&");
                let query = {};
                for (let line of search) {
                    let kv = line.split("=");
                    query[kv[0]] = kv[1];
                }
                return query;
            }
            jQuery(($) => {
                function play(url) {
                    if (window.playerx) {
                        window.playerx.destroy();
                    }
                    let video = document.querySelector("video");
                    // video.style.width = "100%";
                    console.info("play url", url, Hls.version);
                    const source = url; // "https://bitdash-a.akamaihd.net/content/sintel/hls/video/250kbit.m3u8";
                    const player = new Plyr(video, {
                        autoplay: true,
                        captions: {
                            active: true,
                            update: true,
                            language: "en"
                        }
                    });
                    if (!Hls.isSupported()) {
                        video.src = source;
                    } else { // For more Hls.js options, see https://github.com/dailymotion/hls.js
                        const hls = new Hls();
                        hls.loadSource(source);
                        hls.attachMedia(video);
                        hls.on(Hls.Events.MANIFEST_PARSED, () => {});
                        // Handle changing captions
                        player.on("languagechange", () => { // Caption support is still flaky. See: https://github.com/sampotts/plyr/issues/994
                            setTimeout(() => (hls.subtitleTrack = player.currentTrack), 50);
                        });
                        player.on("ready", () => {
                            console.info("=========ready");
                            player.play().catch((err) => console.info("play error", err));
                        });
                    }
                    window.playerx = player;
                    return player;
                }
                let query = getQuery()
                let id = decodeURIComponent(query.id);
                //"https://v.gsuus.com/play/NbWqmN4e/index.m3u8"
                play(id);
            });
        </script>
    </body>
</html>