{% extends "./__widget/default.njk" %}
{% block title %}
    播放器
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../assets/css/plyr.css"/>
{% endblock %}
{% block body %}
    <!-- Start Home Area -->
    <div class="home-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="col-lg-20 col-md-20">
                        <div class="main-banner-content">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="url">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bg-info" type="button" id="btnPlay">Play</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <iframe
                        id="ifaPlayer"
                        src="iplayer.html"
                        style="min-height: 480px"
                        width="100%"
                        height="100"
                        frameborder="no"
                        border="0"
                        marginwidth="0"
                        marginheight="0"
                        scrolling="no"
                        allowtransparency="yes"></iframe>
                </div>
            </div>
        </div>
        <div class="creative-shape">
            <img src="../assets/img/home-bottom-shape.png" alt="svg shape"/>
        </div>
    </div>
    <!-- End Home Area -->
    <script>
        function getQuery() {
               let search = location
                  .search
                  .replace(/^\?/, "")
                  .split("&");
               let query = {};
               for (let line of search) {
                  let kv = line.split("=");
                  query[kv[0]] = kv[1];
               }
               return query;
         }
        function goPlay(url) {
            let ifa = document.querySelector("#ifaPlayer");
            ifa.src = `./iplayer.html?id=${url}`;
        }
        jQuery(($) => {
            $("#btnPlay").on("click", () => {
                // https://bitdash-a.akamaihd.net/content/sintel/hls/video/250kbit.m3u8
                // https://bitdash-a.akamaihd.net/content/sintel/hls/video/4000kbit.m3u8
                //https://v.gsuus.com/play/NbWqmN4e/index.m3u8
                let url = document.querySelector("#url").value || "";
                goPlay(url);
            });
            let query = getQuery();
            let id = query.id;
            if (id) goPlay(id);
            
        });
    </script>
{% endblock %}