{% extends "../__widget/default.njk" %}
{% set title = "Technology Considerations for Office Relocations" %}
{% block title %}
    {$ title $}
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
   <!-- Start Page Title Area -->
	<div class="page-title-area item-bg1">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2> {$ title $} </h2>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Start Blog Details Area -->
	<section class="blog-details-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="blog-details-desc">
						<div class="article-content">
							<h3>Technology Considerations for Office Relocations</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
							
							<h3>Emergency It Services</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
						</div>
						
						<!--div class="post-navigation">
							<div class="navigation-links">
								<div class="nav-previous">
									<a href="#"> <i class="fa fa-arrow-left"></i> Prev Post</a>
								</div>
								<div class="nav-next"> <a href="#">
                                            Next Post 
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
								</div>
							</div>
						</div-->
		
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					{% include "./widget.rec.njk" %}
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Details Area -->
	<script>
{# 		if (navigator.serviceWorker) {
			navigator.serviceWorker.register("{$ $static('../assets/sw/intercept.js?'+util.time(), path) $}").then(function(registration) {
				console.log('service worker 注册成功');
			}).catch(function (err) {
				console.log('servcie worker 注册失败')
			});
		} #}
	</script>
{% endblock %}