{% extends "../__widget/default.njk" %}
{% set title = "How to Not Screw Up Your Product Strategy" %}
{% block title %}
    {$ title $}
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
   <!-- Start Page Title Area -->
	<div class="page-title-area item-bg1">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2> {$ title $} </h2>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Start Blog Details Area -->
	<section class="blog-details-area ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="blog-details-desc">
						<div class="article-content">
							<h5>
								Problem: Product Strategies Take Too Long To Create
							</h5>
							<p>
								Putting together a product strategy is fucking hard. And while it is important, it’s easy to defer. 
Sometimes, you don’t have all the information you need. You need to develop deep expertise in your area or market. That requires time – contacting people, having lots of conversations, and developing a deep sense of the dynamics of your space.							
							</p>
							<p>
								Writing down your thoughts requires sustained, focused time. The people who usually write product strategy (CEOs or heads of product) have hard jobs that lure them from that focused effort. This can result in it taking a long time to put together.
							</p>
							<h5>
								Problem: Product Strategies That Are a Roadmap
							</h5>
							<p>
								I’ve seen some leaders view the product strategy as a communication challenge. They know what needs to be done. They just need to tell their vision to a bunch of people. 
So, they write down some themes to focus on, and they share a roadmap and talk about why it is important. Then they clap their hands together and say, “done!”. They’re not done.
							</p>
							<p>
								Usually, they then get feedback that people are still confused. So they give another presentation on the “strategy”, and it helps, a little, but all they really did is communicate what the company will be working on. People are still confused.
A strategy isn’t just a list of things to do. It’s not merely a roadmap. So calling a roadmap your product strategy doesn’t work, and that’s part of the reason it doesn’t clarify as much as you would like. 
We’ll discuss the parts of a real strategy later in this post, but for now, my advice is to view a product strategy as a larger piece of work than a communication exercise, or a prioritization exercise.
							</p>

							<h5>
								Problem: Product Strategies That Are Goals
							</h5>
							<p>
								Leaders often view the product strategy as a tool to get people aligned, and goals are a way to get people aligned. So many leaders muddle the two together. 
							</p>
							<p>
								This isn’t to say using goals is a bad idea. You should be familiar with all the tools at your disposal: Goals, tenets, standards, metrics, and centralized prioritization are all valid and effective coordination models. A product strategy is another. I recommend looking through each of them and understanding their tradeoffs. The product strategy is probably the most foundational of all of these options, though, so it’s the place I would recommend you start.
							</p>

						</div>
				
		
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					{% include "./widget.rec.njk" %}
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Details Area -->

{% endblock %}